<div id="comment-detail-<%= comment.id %>" style="margin-top: 10px;">
  <!-- show comment -->

  <span style="text-decoration: underline; color: red;"><%= comment.user.name.titleize %></span>
  <%= comment.content %>
  <%= comment.created_at.strftime("%Y-%m-%d, %l:%M:%S%P") %>
  <% @replies = Reply.where(comment_id: comment.id) %>
  <!-- button reply and count reply -->
  <button id="reply-button-<%= comment.id %>"><span style="color: red">
    <%= @replies.count %></span>Reply</button>

  <!-- show reply and form new reply -->
  <div id="reply-content-<%= comment.id %>" style="display: none; margin-left: 20px;">

    <!-- show all replies -->
    <div id="reply-show-<%= comment.id %>">
      <%= render @replies %>
    </div>

    <!-- form new reply  -->
    <%= form_for(Reply.new, remote: true) do |f|%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :comment_id, value: comment.id %>
    <%= f.text_field :content %>
    <%= f.submit "Send reply" %>
    <% end %>
  </div>
</div>
<script>
  $("#reply-button-<%= comment.id %>").click(function(){
    $("#reply-content-<%= comment.id %>").show();
  })
</script>
