<% notifi_user = User.find_by(id: notification.notifi_user_id) %>

<% unless notifi_user.nil? %>
<% avatar = notifi_user && notifi_user.avatar.url ? notifi_user.avatar.url : 'no_avatar.jpg' %>
<div style="overflow: hidden;">
  <div style="float: left">
    <img src="<%= avatar %>" style="width: 60px; background-size: cover; padding: 5px;">
  </div>
  <div style="float: left">
    <% if notification.action == 'review' %>
    <%= link_to notifi_user.name.titleize+" has post a new review  ",  review_path(notification.review.id) %>
    <% elsif notification.action == 'comment' %>
    <%= link_to notifi_user.name.titleize+" has comment your review ",  review_path(notification.review.id) %>
    <% elsif notification.action == 'reply' %>
    <%= link_to notifi_user.name.titleize+" has reply your comment ",  review_path(notification.review.id) %>
    <% elsif notification.action == 'like' %>
    <%= link_to notifi_user.name.titleize+" has like your comment ",  review_path(notification.review.id) %>
    <% end %>
  </div>
</div>

<% end %>
