<div class="user-follow" id="user-follow-<%= user.id %>">
  <a href="/user/<%= user.id %>">
    <div class="avatar-user-follow">
      <% unless user.avatar.blank? %>
          <%= image_tag user.avatar.url %>
      <% else %>
          <%= image_tag "/no_avatar.jpg" %>
      <% end %>
    </div>
    <div class="name-user-follow">
      <h4 style="margin-top: 10px; margin-bottom: 5px; text-decoration: underline;"><%= user.name.titleize %></h4>
      <strong><%= user.following.count %></strong> Following
      <strong><%= user.followers.count %></strong> Follower
    </div>
  </a>
</div>

<script>
    $("#user-follow-<%= user.id %>').click(function () {
        window.location.replace('<%= user.id %>');
    });
</script>
