<% create_at = review.created_at.to_time %>
<% raw_content = ActionView::Base.full_sanitizer.sanitize(review.content).strip %>
<% raw_content = raw_content.truncate(20, separator: ' ') %>
<% avatar = review.user.avatar.url ? review.user.avatar.url : '/no_avatar.jpg' %>

<div class="follow-review-item follow-review-item-<%= review.id %> u-borderBox u-borderRadius2 u-borderBlackLightest">
  <% if review.image.blank? %>
  <div class="follow-review-image follow-review-image-<%= review.id %>" style="background-image: url('/assets/hotel.jpg'); "></div>
  <% else %>
  <div class="follow-review-image follow-review-image-<%= review.id %>" style="background-image: url('<%= review.image %>'); "></div>
  <% end %>
  <div class="follow-review-content">
    <div class="title title-<%= review.id %>">
      <%= raw review.title %>
    </div>
    <div class="hotel">
      <%= link_to review.hotel.name, hotel_path(review.hotel.id) %>
    </div>
    <div class="content">
      <h4 class="u-uiTextRegular u-textColorNormal u-marginTop5 u-letterSpacingNormal u-lineClamp3 u-maxHeight3LineHeightBase u-textOverflowEllipsis u-fontSize14">
        <%= raw_content %>
      </h4>
    </div>

    <div class="like-count" style="margin-bottom: -6px">
      <span style="font-size: 14px; margin-left: 5px"><%= review.like_count %><span style="color: red"> いいね！</span></span>
    </div>

    <div class="user_info">
      <div class="u-flex u-paddingTop10 u-flex0">
        <div class="u-flex0 u-paddingRight10">
          <a class="link avatar u-baseColor--link" href="/user/<%= review.user.id%>">
            <img src="<%= avatar %>" class="avatar-image avatar-image--smaller u-size40x40">
          </a>
        </div>
        <div class="u-flex1 u-noWrapWithEllipsis u-xs-paddingTop5">
          <div class="postMetaInline postMetaInline-authorLockup u-paddingLeft0 u-noWrapWithEllipsis">
            <a class="link u-textColorDarker u-fontSize12 u-baseColor--link" href="/user/<%= review.user.id%>">
              <%= review.user.name.titleize %>
            </a>
          </div>
          <div class="u-fontSize12 u-textColorNormal u-lineHeightTight u-noWrapWithEllipsis u-paddingTop2">
            <time><%= create_at.strftime("%Y年%m月%d日") %></time>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<script>
  $(".follow-review-image-<%= review.id %>").click(function() {
    window.location = ("reviews/<%= review.id %>");
  });

    $(".follow-review-image-<%= review.id %>").mouseover(function() {
    $(this).css('cursor', 'pointer');
  });
    $(".title-<%= review.id %>").click(function() {
    window.location = ("reviews/<%= review.id %>");

  });

    $(".title-<%= review.id %>").mouseover(function() {
      $(this).css('cursor', 'pointer');
  });
</script>
