<% raw_title = ActionView::Base.full_sanitizer.sanitize(review.title).strip %>
<% raw_title = raw_title.truncate(11) %>
<div>
  <% if review.image.blank? %>
  <div class="item" id="item-<%= review.id %>" style="background-image: url('/assets/hotel.jpg')">
    <div class="top-info"></div>
    <div class="bottom-info">
    </div>
    <div class="content-info">
      <div class="name" style="height: 28px">
        <span style=" font-style: bold; font-size: 20px">
          <%= link_to (raw_title), review_path(review.id) %>
        </span>
      </div>
      <div>
        <span style="color: white; font-size: 14px;">
          <%= link_to review.user.name.titleize, user_profile_path(review.user.id) %>
        </span>
      </div>
    </div>
  </div>
  <% else %>
  <div class="item" id="item-<%= review.id %>" style="background-image: url('<%= review.image %>')">
    <div class="top-info"></div>
    <div class="bottom-info"></div>
    <div class="content-info">
      <div class="name" style="height: 28px">
        <span style=" font-style: bold; font-size: 20px">
          <%= link_to (raw_title), review_path(review.id) %>
        </span>
      </div>
      <div>
        <span style="color: white; font-size: 14px;">
        <%= link_to review.user.name.titleize, user_profile_path(review.user.id) %>
        </span>
      </div>

    </div>
  </div>
  <% end %>
</div>
