<% avg_rate = @review.hotel.rate_count ? @review.hotel.rate_sum / @review.hotel.rate_count : 0 %>

<div class="write-review" id="write-review">
  <header class="container u-maxWidth740 u-paddingLeft0">
    <div class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaHeader u-paddingBottom10 row">
      <div class="col u-size12of12 js-postMetaLockup">
        <div class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaLockup postMetaLockup--authorWithBio u-flex js-postMetaLockup">
          <div class="u-flex0">
            <a class="link avatar u-baseColor--link"
               href="#"
               dir="auto">
              <img src="/no_avatar.jpg"
                   class="avatar-image avatar-image--smaller" alt="Go to the profile of Long Nguyễn">
            </a>
          </div>
          <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
            <a class="link ui-captionStrong link link--darken link--darker u-baseColor--link"
               href="#"
               dir="auto">
              <h2>
                <%= current_user.name %>
              </h2>

            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%= form_for @review do |f| %>
      <%= render 'partials/error_messages', object: f.object %>
      <div class="postArticle-content js-postField js-notesSource">
        <section class="section section--body section--first section--last u-paddingTop10">
          <div class="section-content">

            <div class="section-inner sectionLayout--insetColumn">

              <md-layout>
                <md-layout md-flex="66" md-row md-align-vertical="center">
                  <md-layout md-column>
                    <md-layout>
                      <md-input-container>
                        <label>ホテル</label>
                        <md-input value="<%= @review.hotel.name %>"
                                  disabled
                                  name="hotel">
                        </md-input>
                      </md-input-container>
                    </md-layout>
                    <md-layout>
                      <div class="md-caption" style="color: gray;">
                        アドレス: <b><%= @review.hotel.address %></b> ・ レートの平均: <%= avg_rate %>
                      </div>
                    </md-layout>
                  </md-layout>
                </md-layout>
                <md-layout md-vertical-align="center"
                           md-align="end"
                           md-row>
                  <input type="hidden" name="review[rate]" v-model="rate">
                  <b>Rate this hotel</b>
                  <md-rating-bar v-model="rate"
                                 data-rate="<%= @review.rate %>"
                                 class="md-primary">
                  </md-rating-bar>
                </md-layout>
              </md-layout>

              <h3 class="graf graf--h3 graf--leading graf--title">
                <%=
                  f.text_area :title, class: 'review-title editable',
                              id: 'review-editable-title', value: @review.title
                %>

              </h3>
              <%=
                f.text_area :content, class: 'graf graf--p graf-after--h3 graf--trailing review-content editable',
                            id: 'review-editable-content', value: @review.content
              %>
              <input type="hidden" name="review[image]">
              <div class="u-paddingTop30 u-textAlignCenter container u-maxWidth740">
                <button type="button"
                        class="button
                               button--large
                               button--warning
                               button--withChrome"
                        onclick="location.href = '/reviews/<%= @review.id %>';">
                  キャンセルする
                </button>
                <%= f.submit '保存する', class: 'button
                button--primary
                button--large
                is-active
                button--withChrome
                u-accentColor--buttonNormal', id: 'post-review' %>
              </div>
            </div>
          </div>
        </section>
      </div>
  <% end %>
</div>

<script>
    newReview();
    Review.init();
</script>
