<div class="write-review">
  <header class="container u-maxWidth740">
    <div class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaHeader u-paddingBottom10 row">
      <div class="col u-size12of12 js-postMetaLockup">
        <div class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaLockup postMetaLockup--authorWithBio u-flex js-postMetaLockup">
          <div class="u-flex0">
            <a class="link avatar u-baseColor--link"
               href="#"
               dir="auto">
              <img src="https://cdn-images-1.medium.com/fit/c/40/40/0*SD_kDWTIj98kIlBn."
                   class="avatar-image avatar-image--smaller" alt="Go to the profile of Long Nguyễn">
            </a>
          </div>
          <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
            <a class="link ui-captionStrong link link--darken link--darker u-baseColor--link"
               href="#"
               dir="auto">
              <h2>
                <%= current_user.name %>
              </h2>

            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%= form_for @review do |f| %>
      <%= render 'partials/error_messages', object: f.object %>
      <div class="postArticle-content js-postField js-notesSource">
        <section class="section section--body section--first section--last">
          <div class="section-content">

            <div class="section-inner sectionLayout--insetColumn">

              <h3 class="graf graf--h3 graf--leading graf--title">
                <%=
                  f.text_area :title, class: 'review-title editable',
                    id: 'review-editable-title', title: 'タイトル'
                %>

              </h3>
              <%=
                f.text_area :content, class: 'graf graf--p graf-after--h3 graf--trailing review-content editable',
                  id: 'review-editable-content', title: '内容を書いてください。。。'
              %>

              <div class="u-paddingTop20 u-textAlignCenter container u-maxWidth740">
                <%= f.submit 'ポスト', class: 'button
                button--primary
                button--large
                is-active
                button--withChrome
                u-accentColor--buttonNormal
                is-touched', id: 'dang-bai' %>
              </div>
            </div>
          </div>
        </section>
      </div>
  <% end %>
</div>

<script>
    $('.editable').each(function (_, el) {
        let editor = new MediumEditor(`#${el.id}`, {
            placeholder: {
                text: el.title,
            },
        });

        $(function () {
            $('#' + el.id).mediumInsert({
                editor: editor,
                addons: {
                    images: {
                        fileUploadOptions: {
                            url: '/uploads',
                        },
                    },
                },
            });
        });
    });
</script>
