<div class="wrapper-show">

    <div class="card radius shadowDepth1">
        <div class="card__image border-tlr-radius">
            <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
        </div>

        <div class="card__content card__padding">
            <div class="card__share">
                <div class="card__social">
                    <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                    <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                </div>

                <a id="share" class="share-toggle share-icon" href="#"></a>
            </div>

            <div class="card__meta">
                <a href="#"><%= @review.user.name.titleize %></a>
                <time><%= @review.created_at %></time>
            </div>

            <article class="card__article">
                <h2><a href="#"><%= raw @review.title %></a></h2>

                <p><%= raw @review.content %></p>
            </article>
        </div>

        <div class="card__action">

            <div class="card__author">
                <img src="http://lorempixel.com/40/40/sports/" alt="user">
                <div class="card__author-content">
                    By <a href="#"><%= @review.user.name.titleize %></a>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center">Created By <a href="https://twitter.com/mithicher">NoName Team</a></p>
</div>

<script>
    $(document).ready(function($) {

        $('.card__share > a').on('click', function(e){
        e.preventDefault() // prevent default action - hash doesn't appear in url
        $(this).parent().find( 'div' ).toggleClass( 'card__social--active' );
        $(this).toggleClass('share-expanded');
    });

    });
</script>
