<% create_at = @review.created_at.to_time %>
<% avg_rate = @review.hotel.rate_count ? @review.hotel.rate_sum / @review.hotel.rate_count : 0 %>
<% avatar = current_user && current_user.avatar.url ? current_user.avatar.url : '/no_avatar.jpg' %>

<% if user_signed_in? %>
<div style="width: 1000px; height: 100px; margin-left: 150px;">
  <% @bookmark = Bookmark.find_by(user_id: current_user.id, review_id: @review.id) %>
  <% if @bookmark.blank? %>
  <%= render 'create_bookmark_form' %>
  <% else %>
  <%= render 'destroy_bookmark_form' %>
  <% end %>
</div>
<% end %>

<div class="show-review" id="show-review" @click.self="closeWriteCmtMode" data-review-id="<%= @review.id %>">
  <header class="container u-maxWidth740">
    <div class="uiScale uiScale)-ui--regular uiScale-caption--regular postMetaHeader u-paddingBottom10 row">
      <div class="col u-size8of12 js-postMetaLockup">
        <div class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaLockup postMetaLockup--authorWithBio u-flex js-postMetaLockup">
          <div class="u-flex0">
            <a class="link avatar u-baseColor--link"
               :href="userLink(<%= @review.user.id %>)"
               dir="auto">
              <img src="<%= @review.user.avatar.url ? @review.user.avatar.url : '/no_avatar.jpg' %>"
                   class="avatar-image avatar-image--small u-size60x60" alt="Go to the profile of <%= @review.user.name %>">
              <div class="avatar-halo u-absolute u-baseColor--iconNormal u-textColorGreenNormal svgIcon" style="width: calc(100% + 12px); height: calc(100% + 12px); top:-6px; left:-6px">
                <svg viewBox="0 0 114 114" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.66922967,32.092726 C17.0070768,13.6353618 35.9421928,1.75 57,1.75 C78.0578072,1.75 96.9929232,13.6353618 106.33077,32.092726 L107.66923,31.4155801 C98.0784505,12.4582656 78.6289015,0.25 57,0.25 C35.3710985,0.25 15.9215495,12.4582656 6.33077033,31.4155801 L7.66922967,32.092726 Z"></path>
                  <path d="M106.33077,81.661427 C96.9929232,100.118791 78.0578072,112.004153 57,112.004153 C35.9421928,112.004153 17.0070768,100.118791 7.66922967,81.661427 L6.33077033,82.338573 C15.9215495,101.295887 35.3710985,113.504153 57,113.504153 C78.6289015,113.504153 98.0784505,101.295887 107.66923,82.338573 L106.33077,81.661427 Z"></path>
                </svg>
              </div>
            </a>
          </div>
          <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
            <div class="u-flex">
              <a class="link ui-captionStrong link link--darken link--darker u-baseColor--link"
                 href="#"
                 dir="auto">
                <h2>
                  <%= link_to @review.user.name, user_profile_path(@review.user.id) %>
                </h2>
              </a>
              <% if current_user != nil and not current_user? @review.user %>
                  <span class="followState js-followState u-marginLeft10 u-flex">
                    <% if current_user.following? @review.user %>
                        <%= form_for(current_user.active_relationships.find_by(followed_id: @review.user.id),
                                     html: {method: :delete, class: "u-alignMiddle"},
                                     remote: true) do |f| %>
                        <button class="button button--primary button--smallest button--withChrome is-active">
                          Following
                        </button>
                        <% end %>

                    <% else %>
                        <%= form_for(current_user.active_relationships.build,
                                     remote: true,
                                     html: {class: "u-alignMiddle"}) do |f| %>
                            <%= hidden_field_tag :followed_id, @review.user.id %>
                            <button class="button button--primary button--smallest button--withChrome">
                          Follow
                        </button>
                        <% end %>
                    <% end %>
                  </span>
              <% end %>
            </div>
            <div class="ui-caption postMetaInline js-testPostMetaInlineSupplemental">
              <time class="readingTime"><%= create_at.strftime("%Y年%m月%d日") %></time>
            </div>
          </div>
        </div>
      </div>
      <% if current_user? @review.user %>
          <div class="col u-size4of12 u-textAlignRight">
            <button class="button
          button--primary
          button--withChrome
          button--withHover"
                    onclick="location.href = '/reviews/<%= @review.id %>/edit';">
              編集する
            </button>
            <button class="button
          button--withChrome
          button--withHover
          button--delete">
              <%= link_to "削除する", review_path, method: :delete, data: {confirm: "You Sure?"} %>
            </button>
          </div>
      <% end %>
    </div>
  </header>

  <div class="postArticle">
    <div class="postArticle-content js-postField js-notesSource">
      <section class="section section--body section--first section--last">
        <div class="section-content">

          <div class="section-inner sectionLayout--insetColumn u-maxWidth740">
            <h3 class="graf graf--h3 graf--leading graf--title">
              <%= raw @review.title %>
            </h3>

            <md-layout>
              <md-layout md-flex="66" md-row md-align-vertical="center">
                <md-layout md-flex="20">
                  <a class="link avatar u-baseColor--link"
                     href="/hotels/<%= @review.hotel.id %>"
                     dir="auto">
                    <img src="<%= @review.hotel.avatar %>"
                         class="avatar-image--small">
                  </a>
                </md-layout>
                <md-layout md-column>
                  <md-layout>
                    <a href="/hotels/<%= @review.hotel.id %>" class="md-title"><%= @review.hotel.name %></a>
                  </md-layout>
                  <md-layout>
                    <div class="md-caption">
                      <%= @review.hotel.address %> ・ レートの平均: <%= @review.hotel.avg_rate %>
                    </div>
                  </md-layout>
                </md-layout>
              </md-layout>
              <md-layout md-vertical-align="center"
                         md-align="end"
                         md-row>
                <b>レート</b>
                <md-rating-bar value="<%= @review.rate %>"
                               md-theme="yellow"
                               class="md-primary"
                               disabled>
                </md-rating-bar>
              </md-layout>
            </md-layout>

            <div class="graf graf--p graf-after--h3 graf--trailing u-paddingTop20">
              <%= raw @review.content %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container u-maxWidth740 u-borderTopLightest">
    <div class="responsesStreamWrapper u-maxWidth640 js-responsesStreamWrapper">
      <div class="container responsesStream-title u-paddingTop15">
        <div class="row">
          <header class="heading">
            <div class="u-clearfix">
              <div class="heading-content u-floatLeft">
                <span class="heading-title heading-title--semibold">コメント</span></div>
            </div>
          </header>
        </div>
      </div>
      <% if current_user != nil %>
          <div class="responsesStream-editor cardChromeless u-marginBottom20 u-paddingLeft20 u-paddingRight20">
            <div class="inlineNewPostControl">
              <div class="inlineEditor is-postEditMode js-inlineEditor"
                   :class="{'is-collapsed': !is_write_cmt}">
                <div class="u-paddingTop20 js-block js-inlineEditorContent">
                  <div class="inlineEditor-header">
                    <div class="inlineEditor-avatar u-paddingRight10">
                      <div class="avatar u-inline">
                        <img src="<%= avatar %>" class="avatar-image u-size36x36 u-xs-size32x32" alt="<%= current_user.name %>">
                      </div>
                    </div>
                    <div class="inlineEditor-headerContent" @click.prevent="openWriteCmtMode">
                      <div class="inlineEditor-placeholder">コメントする...</div>
                      <div class="inlineEditor-author u-accentColor--textNormal"><%= current_user.name %></div>
                    </div>
                  </div>
                  <div class="block-streamText">
                    <div class="postArticle postArticle--short">
                      <div class="u-maxWidth600">
                        <div class="postArticle-content js-postField js-notesSource editable">
                      <textarea name="comment"
                                data-review-id="<%= @review.id %>"
                                data-current-user-id="<%= current_user.id %>"
                                style="margin: 0px; width: 49vw; height: 146px;"
                                v-model="comment.content"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="inlineEditor-actions">
                    <div class="u-floatLeft">
                      <div class="buttonSet">
                        <button
                        class="button
                      button--primary
                      button--withChrome
                      u-accentColor--buttonNormal"
                        @click="postComment">
                          投稿する
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <div class="responsesStream">
        <div class="streamItem streamItem--conversation"
             v-for="comment in comments"
             :key="comment.id">
          <div class="streamItemConversation">
            <div class="streamItemConversation-inner cardChromeless">
              <div class="streamItemConversationItem streamItemConversationItem--preview">
                <div class="postArticle js-postArticle js-trackedPost postArticle--short">
                  <div class="u-clearfix u-marginBottom15 u-paddingTop5">
                    <div class="postMetaInline u-floatLeft">
                      <div class="u-flexCenter">
                        <div class="postMetaInline-avatar u-flex0">
                          <a class="link avatar u-baseColor--link" :href="userLink(comment.owner.id)">
                            <img :src="comment.owner.avatar" class="avatar-image u-size36x36 u-xs-size32x32">
                          </a>
                        </div>
                        <div class="postMetaInline postMetaInline-authorLockup u-flex1 u-noWrapWithEllipsis">
                          <a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link"
                             :href="userLink(comment.owner.id)">
                            {{ comment.owner.name }}
                          </a>
                          <div class="u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
                            <div class="link link--darken">
                              <time>{{ formatTime(comment.created_at) }}</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if current_user != nil %>
                        <div class="u-floatRight">
                          <div class="u-flex">
                            <div class="buttonSet">
                              <button
                              class="button
                      button--primary
                      button--link"
                              @click="openReply(comment.id)">
                                返事する
                              </button>
                            </div>
                            <div class="buttonSet u-paddingLeft8"
                                 v-if="comment.owner.id == <%= current_user.id %>">
                              <button
                              class="button
                      button--delete
                      button--link"
                              @click="deleteComment(comment.id)">
                                削除する
                              </button>
                            </div>
                          </div>
                        </div>
                    <% end %>
                  </div>
                  <div>
                    <div class="postArticle-content">
                      <section class="section section--body section--first section--last">
                        <div class="section-divider">
                          <hr class="section-divider">
                        </div>
                        <div class="section-content">
                          <div class="section-inner sectionLayout--insetColumn">
                            <p name="2fd0" id="2fd0" class="graf graf--p graf--leading graf--trailing">
                              {{ comment.content }}
                            </p>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
              <div class="streamItemConversationItem streamItemConversationItem--preview"
                   v-for="reply in comment.replies"
                   :key="reply.id">
                <div class="postArticle js-postArticle js-trackedPost postArticle--short u-marginLeft15 u-paddingLeft15 reply">
                  <div class="u-clearfix u-paddingTop0">
                    <div class="postMetaInline u-floatLeft">
                      <div class="u-flexCenter">
                        <div class="postMetaInline-avatar u-flex0">
                          <a class="link avatar u-baseColor--link" :href="userLink(reply.owner.id)">
                            <img :src="reply.owner.avatar" class="avatar-image u-size26x26 u-xs-size12x12">
                          </a>
                        </div>
                        <div class="postMetaInline postMetaInline-authorLockup u-flex1 u-noWrapWithEllipsis">
                          <a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link"
                             :href="userLink(reply.owner.id)">
                            {{ reply.owner.name }}
                          </a>
                          <div class="u-fontSize12 u-baseColor--textNormal u-textColorNormal u-inline">
                            ・
                            <time>{{ formatTime(reply.created_at) }}</time>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if current_user != nil %>
                        <div class="u-floatRight" v-if="reply.owner.id == <%= current_user.id %>">
                          <div class="u-flex">
                            <md-button
                            class="button
                                button--link
                                button--withIcon
                                button--delete
                                md-icon-button"
                            @click="deleteReply(reply.id)">
                              <md-icon>clear</md-icon>
                            </md-button>
                          </div>
                        </div>
                    <% end %>
                  </div>
                  <div>
                    <div class="postArticle-content">
                      <section class="section section--body section--first section--last">
                        <div class="section-divider">
                          <hr class="section-divider">
                        </div>
                        <div class="section-content">
                          <div class="section-inner sectionLayout--insetColumn">
                            <p name="2fd0" id="2fd0" class="graf graf--p graf--leading graf--trailing">
                              {{ reply.content }}
                            </p>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
              <% if current_user != nil %>
                  <div class="streamItemConversationItem streamItemConversationItem--preview u-hide" :id="'r' + comment.id">
                    <div class="postArticle postArticle--short u-marginLeft15 u-paddingLeft15 reply">
                      <div class="inlineEditor-header">
                        <div class="inlineEditor-avatar u-paddingRight10">
                          <div class="avatar">
                            <img src="<%= avatar %>" class="avatar-image u-size26x26 u-xs-size12of12" alt="<%= current_user.name %>">
                          </div>
                        </div>
                        <div class="inlineEditor-headerContent">
                          <div class="inlineEditor-placeholder">
                            <input type="text"
                                   name="reply"
                                   placeholder="コメントする..."
                                   v-model="reply.content"
                                   @keyup.enter="postReply(comment.id)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="u-marginAuto u-maxWidth1000">
    <div class="js-postShareWidget u-foreground u-sm-hide u-fixed u-transition--fadeIn300" data-scroll="fixed" style="top: 200px;">
      <ul>
        <li class="u-textAlignCenter u-marginVertical10">
          <div class="multirecommend js-actionMultirecommend u-flexColumn u-marginBottom10 u-width60">
            <div class="u-relative u-foreground">
              <% if current_user != nil %>
                  <button class="button button--large button--circle button--withChrome u-baseColor--buttonNormal button--withIcon button--withSvgIcon clapButton js-actionMultirecommendButton clapButton--largePill u-relative u-foreground u-width60 u-height60 u-accentColor--textNormal u-accentColor--buttonNormal is-touched"
                          @click="changeLikeStatus()">
              <% else %>
                  <button class="button button--disabled button--large button--circle button--withChrome u-baseColor--buttonNormal button--withIcon button--withSvgIcon clapButton js-actionMultirecommendButton clapButton--largePill u-relative u-foreground u-width60 u-height60 u-accentColor--textNormal u-accentColor--buttonNormal is-touched"
                          @click="changeLikeStatus()">
              <% end %>
              <span class="button-defaultState">
                <span class="svgIcon svgIcon--clap svgIcon--33px u-relative u-topNegative2 u-xs-top0">
                  <svg class="svgIcon-use" width="33" height="33" viewBox="0 0 33 33" v-show="like.status == 0">
                    <path d="M28.86 17.342l-3.64-6.402c-.292-.433-.712-.729-1.163-.8a1.124 1.124 0 0 0-.889.213c-.63.488-.742 1.181-.33 2.061l1.222 2.587 1.4 2.46c2.234 4.085 1.511 8.007-2.145 11.663-.26.26-.526.49-.797.707 1.42-.084 2.881-.683 4.292-2.094 3.822-3.823 3.565-7.876 2.05-10.395zm-6.252 11.075c3.352-3.35 3.998-6.775 1.978-10.469l-3.378-5.945c-.292-.432-.712-.728-1.163-.8a1.122 1.122 0 0 0-.89.213c-.63.49-.742 1.182-.33 2.061l1.72 3.638a.502.502 0 0 1-.806.568l-8.91-8.91a1.335 1.335 0 0 0-1.887 1.886l5.292 5.292a.5.5 0 0 1-.707.707l-5.292-5.292-1.492-1.492c-.503-.503-1.382-.505-1.887 0a1.337 1.337 0 0 0 0 1.886l1.493 1.492 5.292 5.292a.499.499 0 0 1-.353.854.5.5 0 0 1-.354-.147L5.642 13.96a1.338 1.338 0 0 0-1.887 0 1.338 1.338 0 0 0 0 1.887l2.23 2.228 3.322 3.324a.499.499 0 0 1-.353.853.502.502 0 0 1-.354-.146l-3.323-3.324a1.333 1.333 0 0 0-1.886 0 1.325 1.325 0 0 0-.39.943c0 .356.138.691.39.943l6.396 6.397c3.528 3.53 8.86 5.313 12.821 1.353zM12.73 9.26l5.68 5.68-.49-1.037c-.518-1.107-.426-2.13.224-2.89l-3.303-3.304a1.337 1.337 0 0 0-1.886 0 1.326 1.326 0 0 0-.39.944c0 .217.067.42.165.607zm14.787 19.184c-1.599 1.6-3.417 2.392-5.353 2.392-.349 0-.7-.03-1.058-.082a7.922 7.922 0 0 1-3.667.887c-3.049 0-6.115-1.626-8.359-3.87l-6.396-6.397A2.315 2.315 0 0 1 2 19.724a2.327 2.327 0 0 1 1.923-2.296l-.875-.875a2.339 2.339 0 0 1 0-3.3 2.33 2.33 0 0 1 1.24-.647l-.139-.139c-.91-.91-.91-2.39 0-3.3.884-.884 2.421-.882 3.301 0l.138.14a2.335 2.335 0 0 1 3.948-1.24l.093.092c.091-.423.291-.828.62-1.157a2.336 2.336 0 0 1 3.3 0l3.384 3.386a2.167 2.167 0 0 1 1.271-.173c.534.086 1.03.354 1.441.765.11-.549.415-1.034.911-1.418a2.12 2.12 0 0 1 1.661-.41c.727.117 1.385.565 1.853 1.262l3.652 6.423c1.704 2.832 2.025 7.377-2.205 11.607zM13.217.484l-1.917.882 2.37 2.837-.454-3.719zm8.487.877l-1.928-.86-.44 3.697 2.368-2.837zM16.5 3.293L15.478-.005h2.044L16.5 3.293z" fill-rule="evenodd"></path>
                  </svg>
                  <svg class="svgIcon-use" width="33" height="33" viewBox="0 0 33 33" v-show="like.status == 1">
                    <g fill-rule="evenodd">
                      <path d="M29.58 17.1l-3.854-6.78c-.365-.543-.876-.899-1.431-.989a1.491 1.491 0 0 0-1.16.281c-.42.327-.65.736-.7 1.207v.001l3.623 6.367c2.46 4.498 1.67 8.802-2.333 12.807-.265.265-.536.505-.81.728 1.973-.222 3.474-1.286 4.45-2.263 4.166-4.165 3.875-8.6 2.215-11.36zm-4.831.82l-3.581-6.3c-.296-.439-.725-.742-1.183-.815a1.105 1.105 0 0 0-.89.213c-.647.502-.755 1.188-.33 2.098l1.825 3.858a.601.601 0 0 1-.197.747.596.596 0 0 1-.77-.067L10.178 8.21c-.508-.506-1.393-.506-1.901 0a1.335 1.335 0 0 0-.393.95c0 .36.139.698.393.95v.001l5.61 5.61a.599.599 0 1 1-.848.847l-5.606-5.606c-.001 0-.002 0-.003-.002L5.848 9.375a1.349 1.349 0 0 0-1.902 0 1.348 1.348 0 0 0 0 1.901l1.582 1.582 5.61 5.61a.6.6 0 0 1-.848.848l-5.61-5.61c-.51-.508-1.393-.508-1.9 0a1.332 1.332 0 0 0-.394.95c0 .36.139.697.393.952l2.363 2.362c.002.001.002.002.002.003l3.52 3.52a.6.6 0 0 1-.848.847l-3.522-3.523h-.001a1.336 1.336 0 0 0-.95-.393 1.345 1.345 0 0 0-.949 2.295l6.779 6.78c3.715 3.713 9.327 5.598 13.49 1.434 3.527-3.528 4.21-7.13 2.086-11.015zM11.817 7.727c.06-.328.213-.64.466-.893.64-.64 1.755-.64 2.396 0l3.232 3.232c-.82.783-1.09 1.833-.764 2.992l-5.33-5.33z"></path><path d="M13.285.48l-1.916.881 2.37 2.837z"></path>
                      <path d="M21.719 1.361L19.79.501l-.44 3.697z"></path>
                      <path d="M16.502 3.298L15.481 0h2.043z"></path>
                    </g>
                  </svg>
                </span>
              </span>
              <span class="button-activeState">
                <span class="svgIcon svgIcon--clapFilled svgIcon--33px u-relative u-topNegative2 u-xs-top0">
                  <svg class="svgIcon-use" width="33" height="33" viewBox="0 0 33 33">
                    <g fill-rule="evenodd">
                      <path d="M29.58 17.1l-3.854-6.78c-.365-.543-.876-.899-1.431-.989a1.491 1.491 0 0 0-1.16.281c-.42.327-.65.736-.7 1.207v.001l3.623 6.367c2.46 4.498 1.67 8.802-2.333 12.807-.265.265-.536.505-.81.728 1.973-.222 3.474-1.286 4.45-2.263 4.166-4.165 3.875-8.6 2.215-11.36zm-4.831.82l-3.581-6.3c-.296-.439-.725-.742-1.183-.815a1.105 1.105 0 0 0-.89.213c-.647.502-.755 1.188-.33 2.098l1.825 3.858a.601.601 0 0 1-.197.747.596.596 0 0 1-.77-.067L10.178 8.21c-.508-.506-1.393-.506-1.901 0a1.335 1.335 0 0 0-.393.95c0 .36.139.698.393.95v.001l5.61 5.61a.599.599 0 1 1-.848.847l-5.606-5.606c-.001 0-.002 0-.003-.002L5.848 9.375a1.349 1.349 0 0 0-1.902 0 1.348 1.348 0 0 0 0 1.901l1.582 1.582 5.61 5.61a.6.6 0 0 1-.848.848l-5.61-5.61c-.51-.508-1.393-.508-1.9 0a1.332 1.332 0 0 0-.394.95c0 .36.139.697.393.952l2.363 2.362c.002.001.002.002.002.003l3.52 3.52a.6.6 0 0 1-.848.847l-3.522-3.523h-.001a1.336 1.336 0 0 0-.95-.393 1.345 1.345 0 0 0-.949 2.295l6.779 6.78c3.715 3.713 9.327 5.598 13.49 1.434 3.527-3.528 4.21-7.13 2.086-11.015zM11.817 7.727c.06-.328.213-.64.466-.893.64-.64 1.755-.64 2.396 0l3.232 3.232c-.82.783-1.09 1.833-.764 2.992l-5.33-5.33z"></path>
                      <path d="M13.285.48l-1.916.881 2.37 2.837z"></path>
                      <path d="M21.719 1.361L19.79.501l-.44 3.697z"></path>
                      <path d="M16.502 3.298L15.481 0h2.043z"></path>
                    </g>
                  </svg>
                </span>
              </span>
              </button>
              <div class="clapUndo u-width60 u-round u-height32 u-absolute u-borderBox u-paddingRight5 u-transition--transform200Spring u-background--brandSageLighter js-clapUndo" style="top: 14px; padding: 2px;">
                <button class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon u-floatRight">
                <span class="svgIcon svgIcon--removeThin svgIcon--29px">
                  <svg class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29">
                    <path d="M20.13 8.11l-5.61 5.61-5.609-5.61-.801.801 5.61 5.61-5.61 5.61.801.8 5.61-5.609 5.61 5.61.8-.801-5.609-5.61 5.61-5.61" fill-rule="evenodd"></path>
                  </svg>
                </span>
                </button>
              </div>
            </div>
            <span class="u-textAlignCenter u-relative u-background js-actionMultirecommendCount u-flexOrderNegative1 u-height20 u-marginBottom7">
            <button class="button button--chromeless u-baseColor--buttonNormal js-multirecommendCountButton u-block u-marginAuto">{{ like.count }}</button>
          </span>
          </div>
        </li>
        <!--<li class="u-textAlignCenter u-marginVertical10">-->
        <!--<button class="button button&#45;&#45;large button&#45;&#45;dark button&#45;&#45;chromeless is-touchIconBlackPulse u-baseColor&#45;&#45;buttonDark button&#45;&#45;withIcon button&#45;&#45;withSvgIcon" title="Share on Twitter" aria-label="Share on Twitter" data-action="share-on-twitter" data-action-source="post_share_widget">-->
        <!--<span class="svgIcon svgIcon&#45;&#45;twitter svgIcon&#45;&#45;29px"><svg class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29"><path d="M21.967 11.8c.018 5.93-4.607 11.18-11.177 11.18-2.172 0-4.25-.62-6.047-1.76l-.268.422-.038.5.186.013.168.012c.3.02.44.032.6.046 2.06-.026 3.95-.686 5.49-1.86l1.12-.85-1.4-.048c-1.57-.055-2.92-1.08-3.36-2.51l-.48.146-.05.5c.22.03.48.05.75.08.48-.02.87-.07 1.25-.15l2.33-.49-2.32-.49c-1.68-.35-2.91-1.83-2.91-3.55 0-.05 0-.01-.01.03l-.49-.1-.25.44c.63.36 1.35.57 2.07.58l1.7.04L7.4 13c-.978-.662-1.59-1.79-1.618-3.047a4.08 4.08 0 0 1 .524-1.8l-.825.07a12.188 12.188 0 0 0 8.81 4.515l.59.033-.06-.59v-.02c-.05-.43-.06-.63-.06-.87a3.617 3.617 0 0 1 6.27-2.45l.2.21.28-.06c1.01-.22 1.94-.59 2.73-1.09l-.75-.56c-.1.36-.04.89.12 1.36.23.68.58 1.13 1.17.85l-.21-.45-.42-.27c-.52.8-1.17 1.48-1.92 2L22 11l.016.28c.013.2.014.35 0 .52v.04zm.998.038c.018-.22.017-.417 0-.66l-.498.034.284.41a8.183 8.183 0 0 0 2.2-2.267l.97-1.48-1.6.755c.17-.08.3-.02.34.03a.914.914 0 0 1-.13-.292c-.1-.297-.13-.64-.1-.766l.36-1.254-1.1.695c-.69.438-1.51.764-2.41.963l.48.15a4.574 4.574 0 0 0-3.38-1.484 4.616 4.616 0 0 0-4.61 4.613c0 .29.02.51.08.984l.01.02.5-.06.03-.5c-3.17-.18-6.1-1.7-8.08-4.15l-.48-.56-.36.64c-.39.69-.62 1.48-.65 2.28.04 1.61.81 3.04 2.06 3.88l.3-.92c-.55-.02-1.11-.17-1.6-.45l-.59-.34-.14.67c-.02.08-.02.16 0 .24-.01 2.12 1.55 4.01 3.69 4.46l.1-.49-.1-.49c-.33.07-.67.12-1.03.14-.18-.02-.43-.05-.64-.07l-.76-.09.23.73c.57 1.84 2.29 3.14 4.28 3.21l-.28-.89a8.252 8.252 0 0 1-4.85 1.66c-.12-.01-.26-.02-.56-.05l-.17-.01-.18-.01L2.53 21l1.694 1.07a12.233 12.233 0 0 0 6.58 1.917c7.156 0 12.2-5.73 12.18-12.18l-.002.04z"></path></svg></span>-->
        <!--</button>-->
        <!--</li>-->
        <!--<li class="u-textAlignCenter u-marginVertical10">-->
        <!--<button class="button button&#45;&#45;large button&#45;&#45;dark button&#45;&#45;chromeless is-touchIconBlackPulse u-baseColor&#45;&#45;buttonDark button&#45;&#45;withIcon button&#45;&#45;withSvgIcon" title="Share on Facebook" aria-label="Share on Facebook" data-action="share-on-facebook" data-action-source="post_share_widget">-->
        <!--<span class="svgIcon svgIcon&#45;&#45;facebook svgIcon&#45;&#45;29px"><svg class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29"><path d="M16.39 23.61v-5.808h1.846a.55.55 0 0 0 .546-.48l.36-2.797a.551.551 0 0 0-.547-.62H16.39V12.67c0-.67.12-.813.828-.813h1.474a.55.55 0 0 0 .55-.55V8.803a.55.55 0 0 0-.477-.545c-.436-.06-1.36-.116-2.22-.116-2.5 0-4.13 1.62-4.13 4.248v1.513H10.56a.551.551 0 0 0-.55.55v2.797c0 .304.248.55.55.55h1.855v5.76c-4.172-.96-7.215-4.7-7.215-9.1 0-5.17 4.17-9.36 9.31-9.36 5.14 0 9.31 4.19 9.31 9.36 0 4.48-3.155 8.27-7.43 9.15M14.51 4C8.76 4 4.1 8.684 4.1 14.46c0 5.162 3.75 9.523 8.778 10.32a.55.55 0 0 0 .637-.543v-6.985a.551.551 0 0 0-.55-.55H11.11v-1.697h1.855a.55.55 0 0 0 .55-.55v-2.063c0-2.02 1.136-3.148 3.03-3.148.567 0 1.156.027 1.597.06v1.453h-.924c-1.363 0-1.93.675-1.93 1.912v1.78c0 .3.247.55.55.55h2.132l-.218 1.69H15.84c-.305 0-.55.24-.55.55v7.02c0 .33.293.59.623.54 5.135-.7 9.007-5.11 9.007-10.36C24.92 8.68 20.26 4 14.51 4"></path></svg></span>-->
        <!--</button>-->
        <!--</li>-->
        <!--<li class="u-textAlignCenter u-marginVertical10">-->
        <!--<button class="button button&#45;&#45;large button&#45;&#45;dark button&#45;&#45;chromeless is-touchIconFadeInPulse u-baseColor&#45;&#45;buttonDark button&#45;&#45;withIcon button&#45;&#45;withSvgIcon button&#45;&#45;bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="sign-up-prompt" data-sign-in-action="add-to-bookmarks" data-requires-token="true" data-redirect="https://medium.com/_/bookmark/p/7fa92afaa248" data-action-source="post_share_widget-&#45;&#45;&#45;&#45;7fa92afaa248-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;bookmark_sidebar">-->
        <!--<span class="button-defaultState"><span class="svgIcon svgIcon&#45;&#45;bookmark svgIcon&#45;&#45;29px"><svg class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29"><path d="M19.385 4h-9.77A2.623 2.623 0 0 0 7 6.615V23.01a1.022 1.022 0 0 0 1.595.847l5.905-4.004 5.905 4.004A1.022 1.022 0 0 0 22 23.011V6.62A2.625 2.625 0 0 0 19.385 4zM21 23l-5.91-3.955-.148-.107a.751.751 0 0 0-.884 0l-.147.107L8 23V6.615C8 5.725 8.725 5 9.615 5h9.77C20.275 5 21 5.725 21 6.615V23z" fill-rule="evenodd"></path></svg></span></span><span class="button-activeState"><span class="svgIcon svgIcon&#45;&#45;bookmarkFilled svgIcon&#45;&#45;29px"><svg class="svgIcon-use" width="29" height="29" viewBox="0 0 29 29"><path d="M19.385 4h-9.77A2.623 2.623 0 0 0 7 6.615V23.01a1.022 1.022 0 0 0 1.595.847l5.905-4.004 5.905 4.004A1.022 1.022 0 0 0 22 23.011V6.62A2.625 2.625 0 0 0 19.385 4z" fill-rule="evenodd"></path></svg></span></span>-->
        <!--</button>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>

<script>
    showReview();
</script>
